<!--
   index_template.html
   
   Este es un template que pertenece al proyecto python-gitlab
   y está escrito para trabajar con Jinja2   
   
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="es">

<head>
   <title>python-gitlab</title>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body style="background-color:#E6E6FA;">
   <h1 style="width:35%;margin-left:10%">Python-GitLab demo</h1>
   
   <p style="text-align:justify;width:35%;margin-left:10%">
      Esta es una página web de prueba que se actualiza cada día y contiene 
      la última viñeta de <a href='https://xkcd.com/'>xkcd</a>, y las cinco noticias 
      más destacadas de la Argentina de Google News.
   </p>
   
   <p style="text-align:right;margin-right:15%;">
   Actualizado {{ date.strftime('%d/%m/%Y  %I:%M %p (%Z)') }}
   </p>
   
<hr style="color:darkgrey">
   
<h2 style="margin-left:5%">Xkcd</h2>
   
   <div style="width:70%;margin-left:auto;margin-right:auto;">
   <h3>{{xkcd.title}}</h3>
   
   <p>
   <small>{{xkcd.day}}/{{xkcd.month}}/{{xkcd.year}}</small>
   </p>
      
   <img src="{{xkcd.img}}"/ width='50%'>
   
   </div>
   
<hr style="color:darkgrey">   
   
<h2 style="margin-left:5%">News</h2>   
   <div style='border: 1px solid black;width=90%;margin-left:auto;margin-right:auto;width:80%;'>
   
   {% for new in news %}
   
   <div style='border: 1px solid black;width=80%;margin-left:auto;margin-right:auto;'>
   <small>{{new.author}}</small><br>
      <a href="{{new.url}}" target="_blank" rel="noopener noreferrer">
         <strong>{{new.title}}</strong>
      </a>
   
      <p>{{new.description}}</p>   
   </div>

   {% endfor %}

   </div>
   
   <hr style="color:darkgrey;height:10px;background-color:darkgrey">
   
   <p style="text-align:right;width:90%">Willy Pregliasco - {{date.isoformat()}}
   </p>   

</body>

</html>
